<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MOVIE_API_KEY</key>
	<string>$(MOVIE_API_KEY)</string>
	<key>MOVIE_BASE_URL</key>
	<string>$(MOVIE_BASE_URL)</string>
	<key>MOVIE_IMAGE_BASE_URL</key>
	<string>$(MOVIE_IMAGE_BASE_URL)</string>
</dict>
</plist>
